@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}

header {
  background-image: url(../img/banner-2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex; /* agrega un contenedor flex */
  justify-content: center; /* centra horizontalmente el contenedor flex */
  align-items: center; /* centra verticalmente el contenedor flex */
  text-align: center; /* centra el texto dentro del contenedor flex */
  font-size: 44px;
}

body {
  margin: 0;
}

.texto1 {
  text-align: center;
}

footer {
  background-color: black;
  color: white;
  padding: 200px;
  padding-bottom: 50px;
  padding-top: 50px;
}

.feed {
  text-align: center;
  display: flex;
  background-color: rgb(96, 177, 239);
  flex-wrap: wrap;
  padding: 1rem;
  color: black;
  text-align: center;
  justify-items: center;
  flex-direction: column;
  font-size: 25px;
}

.img2 {
  float: right;
  width: 50%; /* Ajusta el ancho de la imagen a tu gusto */
  margin: 0 0 10px 10px; /* Ajusta el margen de la imagen a tu gusto */
}

.img3 {
  float: left;
  width: 50%; /* Ajusta el ancho de la imagen a tu gusto */
  margin: 0 0 10px 10px; /* Ajusta el margen de la imagen a tu gusto */
}

.sobre2 {
  margin: 0; /* Elimina el margen por defecto del párrafo */
}

.sobre {
  width: 100%;
  overflow: hidden; /* Para que el contenedor tenga la altura de la imagen */
}

.ayuda {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.ayuda img {
  width: 24.78%;
  height: auto;
}

/* MEDIA QUERY*/
  
@media screen and (max-width: 600px) {
  body {
    margin-right: 0;
  }
      
  .row1, .col1, .col2, .col3, .col4, .col5, .col6 {
    width: 100%;
  }
      
  .row1 {
    height: auto;
  }
      
  .row2, .row3, .row4 {
    flex-direction: column;
  }
      
  .section1, .section2, .section3, .section4, .section5 {
    height: auto;
  }
      
  .texto1 {
    font-size: 40px;
  }
      
  .texto2 {
    font-size: 30px;
  }
      
  .texto3, .texto5, .texto7 {
    font-size: 20px;
  }
      
  .texto4 {
    font-size: 30px;
  }
      
  .texto6 {
    font-size: 25px;
  }
}
    
@media screen and (min-width: 601px) {
    
.mapa {
    display: flex;
    float: left;
    flex-wrap: wrap;
  }
    
  body {
    margin-right: 15px;
  }
      
  .row1 {
    height: 170px;
  }
      
  .col1, .col2 {
    width: 50%;
  }
      
  .col3, .col6 {
    width: 50%;
    height: 200px;
  }
      
  .col4, .col5 {
    width: 50%;
    height: 170px;
  }
      
  .texto2 {
    font-size: 47px;
  }
     
  .texto3, .texto5, .texto7 {
    font-size: 25px;
  }
      
  .texto4 {
  font-size: 47px;
  }
      
  .texto6 {
    font-size: 37px;
  }
}  